
<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container" style="padding-left:4em">
      <a class="{{'item ' + subject.color}}" ng-repeat="subject in subjects" ng-class="{'active':subject.id==main.selectedSubjectID}" ng-click="selectSubject(subject)">{{subject.name}}</a>
  </div>
  <div class="ui mini  icon input" style="width:28em;margin:4px">
    <input type="text" placeholder="搜索" ng-model="main.searchTerm">
    <i class="search icon"></i>
  </div>
</div>


<!-- Page Contents -->
<div class="pusher">
  <header>
    <div class="ui vertical masthead center aligned segment " >

      <!-- <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
          <a class="toc item">
            <i class="sidebar icon"></i>
          </a>
          <a class="active item">主页</a>
        </div>
      </div> -->

      <div class="ui text container">
        <h1 class="ui inverted header" style="font-family: Microsoft YaHei; color:#096FD9">
         微课点播平台
        </h1>
        <h2 style="font-family: Microsoft YaHei; color:#096FD9">有为有不为，知足知不足</h2>
          <!-- <a class="ui huge primary button">出发 <i class="right arrow icon"></i></a> -->
          <div class="ui  icon input" style="width:28em;margin:4px">
            <input type="text" placeholder="搜索" ng-model="main.searchTerm">
            <i class="search icon page-scroll" href="#skills"></i>
          </div>
      </div>
    </div>
  </header>

  <!-- placeHolders -->
  <!-- <div class="ui inverted vertical segment" style="height:200px"></div> -->
<section id="skills">
  <div name="contentGrid" class="ui grid" style="margin-top:2em;min-height: 600px;">
    <div class="one wide column">
    </div>
    <div class="two wide column" style="margin-left:-3em;">
        <div class="ui basic segment">
          <span class="right ui vertical buttons"  style="width:50%;float:left;">
            <div class="ui grade label">一年级</div>
            <div class="ui grade label">二年级</div>
            <div class="ui grade label">三年级</div>
            <div class="ui grade label">四年级</div>
            <div class="ui grade label">五年级</div>
            <div class="ui grade label">六年级</div>
          </span>
          <span class="right ui vertical buttons" style="width:50%">
            <div class="ui  button" style=""
                 ng-repeat="grade in grades"
                 ng-class="{'active':grade.id==main.selectedGradeID}"
                 ng-click="selectGrade(grade)">{{grade.id | formatGrades}}</div>
          </span>
          <!-- 视频上传 -->
          <!-- <button class="ui green button" style="width:8em;margin-top:1em" ng-click="videoUpload()">上传视频</button> -->

        </div>
    </div>
    <div class="thirteen wide column">
      <div class="ui basic segment" id = "videoSegment">

        <div class="ui  cards" >
          <div class="card" ng-repeat="video in videos" style="width:250px;">
            <a class="image" ng-href="{{'#/player/' + video.id}}">
              <img ng-src="{{video.thumbnailUrl | formatThumbnailsUrl }}" style="width:250px;height:250px;">
              <!-- <video src="{{video.url}}" controls poster="{{video.thumbnailUrl | formatThumbnailsUrl }}"></video> -->
            </a>
            <div class="content">
              <a class="header" >{{video.name | formatVideoName }}</a>
              <div class="meta">
                <a>{{video.author}}</a>
              </div>
              <div class="description">
                {{video.description}}
                <span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{video.url + video.name}}">下载</a></span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>



  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">联系我</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Tel:17888843598</a>
            <a href="#" class="item">QQ:370972713</a>
          </div>
        </div>
        <!-- 友情链接：
        浙江微课网http://wk.zjer.cn/
        方圆微课http://www.fangyuanweike.com/microclass/index/index
        中国微课网  http://dasai.cnweike.cn/
        国家教育资源公共服务平台http://www.eduyun.cn/    -->
        <div class="three wide column">
          <h4 class="ui inverted header">友情链接</h4>
          <div class="ui inverted link list">
            <a href="http://wk.zjer.cn/" class="item">浙江微课网</a>
            <a href="http://www.fangyuanweike.com/microclass/index/index" class="item">方圆微课</a>
            <a href="http://dasai.cnweike.cn/" class="item">中国微课网</a>
            <a href="http://www.eduyun.cn/ " class="item">国家教育资源公共服务平台</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">南庄小学</h4>
          <p>微课点播平台</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- UPLOAD MODAL -->
<div class="ui modal">
  <div class="header">Header</div>
  <div class="content">
    <p></p>
  </div>
  <div class="actions">
    <div class="ui approve button">Approve</div>
    <div class="ui button">Neutral</div>
    <div class="ui cancel button">Cancel</div>
  </div>
</div>

  <script type="text/javascript" src="../static/js/components/agency.js"></script>
